[build-system]
requires = [
    "setuptools<64",
    "setuptools_scm>=6.4",
    "wheel>=0.37",
    "ninja>=1.10; sys_platform != 'win32'",
    "cmake>=3.14",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]

[tool.cibuildwheel]
build = "cp3*"
archs = "auto64"
skip = "*-musllinux_*"
test-skip = "*-macosx_arm64 *-musllinux* *aarch64"
test-extras = ["tests"]
test-command = "cd {project}/test/python && python -m pytest ."
environment = { DEPLOY = "ON" }
build-frontend = "build"
build-verbosity = 3

[tool.cibuildwheel.linux]
manylinux-x86_64-image = "manylinux_2_28"
before-all = [
    "curl -L -O https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.gz",
    "tar -xzf boost_1_*",
    "cd boost_1_*/",
    "./bootstrap.sh",
    "./b2 install --with-system"
]

[tool.cibuildwheel.macos]
environment = { MACOSX_DEPLOYMENT_TARGET = "10.15", DEPLOY = "ON" }

[tool.cibuildwheel.windows]
test-command = "python -c \"from mqt import syrec\""
