[build-system]
requires = ["setuptools", "wheel", "cmake"]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
build = "cp3*"
skip = "*-win32 *-musllinux_* *-manylinux_i686"
test-skip = "*_arm64 *_universal2:arm64"
test-command = "python -c \"from mqt import syrec\ndummy = syrec.Dummy()\ndummy.setVal(42)\nprint(dummy.getVal())\ndummy = syrec.Dummy(42)\n\""
environment = { DEPLOY = "ON" }
build-verbosity = 3

[tool.cibuildwheel.linux]
before-all = [
    "curl -O https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.gz",
    "tar -xzf boost_1_76_0.tar.gz",
    "cd boost_1_76_0.tar.gz",
    "./bootstrap.sh", # --prefix=/opt/boost",
    "./b2 install" # --prefix=/opt/boost --with=all"
]

[tool.cibuildwheel.macos]
archs = "x86_64"
environment = { MACOSX_DEPLOYMENT_TARGET = "10.15", DEPLOY = "ON" }

[tool.cibuildwheel.windows]
